.container{
    background-color: rgb(248, 244, 244);
    min-height: 100vh;
}
.markingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.markingRow{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.inActiveMenu{
    margin:auto 10px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    cursor: pointer;
    border-radius: 4px;
}
.btn p{
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.activeMenu{
    background-color: #0a4b88;
    color: #e4e4e4e3;
    margin: auto 10px;
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid rgba(128, 128, 128, 0.514);
        cursor: pointer;
        border-radius: 4px;
}
select{
    color:rgb(0, 0, 0);
    margin: 10px ;
    padding:4px 10px;
    font-size: 15px;
}
select option{
   padding: 20px;
  font-size: 15px;
}