.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head h2{
    font-size: 47px;
    color: rgba(0, 0, 0, 0.945);
    font-weight: 700;
    letter-spacing: 1px;
    font-family: inherit;
}
.head p{
    margin-top: 4px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.815);
    font-family: inherit;
}
.logInInput input{
    min-width: 250px;
    border-radius: 4px;
    padding: 8px 10px;
    margin-top: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.404);
    box-shadow: 0 1.2px 1px rgba(128, 120, 120, 0.959);
}
.logInInput input:focus{
    border: 2px solid black;
}
.logInBtn button{
    padding: 10px 50px;
    font-size: 12px;
    font-weight: 500;
    outline: none;
    border: none;
    margin-top: 19px;
    background-color: rgba(255, 0, 0, 0.815);
    color: white;
    border-radius: 6px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.logInBtn button:hover{
    background-color: rgba(255, 255, 255, 0.932);
    color: rgba(255, 0, 0, 0.822);
    box-shadow: 1px 3px 4px rgba(128, 120, 120, 0.959);
}
.loginQuestion p{
    margin-bottom: 7px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat,
        sans-serif;

}
.forgotPassword p{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    color: black;
    font-family: Montserrat,
        sans-serif;
}
.image img{
    width: 120px;
}
